<header>
  <nav class="header-nav">
    <a class="header-title" href="/">MyCD's</a>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/books">Cd's</a></li>
      <li><a href="/books/new">Add CD</a></li>
    </ul>
  </nav>
</header>